/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.flex-1 {
    flex:1;
}
.exsit-slick-slider[data-style="style4"] .slick-dots {   
    width: auto;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.03);
    display: flex;
    padding: 8px;
    right: auto;
    top: auto;
    gap:4px;
    left: 50%;
    position: absolute;
    bottom: 20px;
}
.exsit-slick-slider[data-style="style1"] .slick-dots {
    width: auto;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.03);
    display: flex;
    padding: 8px;
    right: 0rem;
    top: 0rem;
    gap:4px;
    left: auto;
    position: absolute;
        bottom: auto;
}
.exsit-slick-slider[data-style="style4"] .slick-dots li.slick-active {
    background: rgba(0, 0, 0, 0.3);
}
.exsit-slick-slider[data-style="style1"] .slick-dots li.slick-active {
    background: rgba(0, 0, 0, 0.9);
}


.exsit-slick-slider[data-style="style3"],
.exsit-slick-slider[data-style="style2"] {
    margin: 0 -10px;
}

.exsit-slick-slider[data-style="style3"] .slick-slide,
.exsit-slick-slider[data-style="style2"] .slick-slide {
    padding: 0 10px;
}

.exsit-slick-slider[data-style="style3"] .slick-dots,
.exsit-slick-slider[data-style="style2"] .slick-dots {
    left: 50%;
    padding: 0 1em;
    position: absolute;
    right: auto;
    top:auto;
    z-index: 1;
    bottom: -2rem;
    background: transparent;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    pointer-events: none;
    gap: 0;
}
.exsit-slick-slider[data-style="style3"] .slick-dots li,
.exsit-slick-slider[data-style="style2"] .slick-dots li {
    background: rgba(255, 255, 255, 0.3);
    margin: 0;
    width: 30px;
    height: 2px;
    border-radius: 0;
    opacity: 1;
}
.exsit-slick-slider[data-style="style3"] .slick-dots li.slick-active,
.exsit-slick-slider[data-style="style2"] .slick-dots li.slick-active {
    background: rgba(255, 255, 255, 1);
}

.exsit-slick-slider[data-style="style5"] .slick-arrow {
    top:auto;
    bottom:0;
    transform: none;
    right:30%;
    left:auto;
}
.exsit-slick-slider[data-style="style5"] .slick-arrow.slick-prev {
    transform: translateX(-45px);
}

.exsit-feature-image {
    height: auto;
}

.exsit-feature-bg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.exsit-feature-overlay {
    position: absolute;
    inset: 0;
    background: linear-gradient(to left, transparent, rgba(0, 0, 0, .8));
}

.exsit-feature-top {
    position: absolute;
    top: 40px;
    left: 40px;
    display: flex;
    align-items: center;
    gap: 15px;
    z-index: 2;
}
.exsit-feature-badge-icon {
    width: 26px;
    height: 26px;
    object-fit: contain;
}

.exsit-feature-badge {
    width: 50px;
    height: 50px;
    line-height: 50px;
    border-radius: 50%;
    background: #c6ff00;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 42px;
    color: #111;
}

.exsit-feature-badge-text {
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    max-width: 180px;
    line-height: 1.4;
}

.exsit-feature-bottom {
    position: absolute;
    left: 40px;
    bottom: 40px;
    z-index: 2;
}

.exsit-feature-number {
    font-size: clamp(2.5rem, 1.375rem + 2.638vw, 4.875rem);
    line-height: 0.8;
    color: #fff;
    margin-bottom: 0px;
}

.exsit-feature-small-text {
    color: var(--gray-200);
    font-size: 16px;
}

.exsit-feature-card {
    background: #f5f5f5;
    border-radius: 12px;
    padding: 16px;
    display: flex;
    gap: 16px;
    height: 100%;
}

.exsit-feature-card-number {
    min-width: 60px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background: #004d40;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    font-weight: 600;
}

.exsit-feature-card-title {
    font-size: 22px;
    color: var(--gray-900);
    font-weight: 600;
}

.exsit-feature-card-desc {
    margin: 0;
}


.exsit-feature-slider-nav {
    margin: 0 -12px;
}

.exsit-feature-slider-nav .slick-slide {
    padding: 0 12px;
    box-sizing: border-box;
}

.exsit-feature-slider-nav .slick-list {
    margin: 0;
    padding: 0 !important;
}

.exsit-feature-slider-nav .slick-track {
    display: flex;
}

.exsit-feature-thumb {
    cursor: pointer;
}

.exsit-feature-slider-nav .slick-slide {
    height: inherit !important;
}

.exsit-feature-slider-nav .slick-slide > div {
    height: 100%;
}


.exsit-feature-slider-nav .slick-current .exsit-feature-card {
    background: #dfe7df;
}

@media screen and (max-width: 990px) {
    .exsit-slick-slider[data-style="style5"] .slick-arrow {
        right:0;
    }
    .exsit-feature-image {
        position: relative;
        height: 460px;
    }
    .slick-slide img {
        height: 100% !important;
        object-fit: cover;
    }
}

@media screen and (max-width: 768px) {
    .exsit-feature-image {
        height: 360px;
    }
    .exsit-feature-top {
        top: 20px;
        left: 20px;
        gap: 8px;
    }
    .exsit-feature-bottom {
        left: 20px;
        bottom: 20px;
    }
    
}

