/* Slider */
.slick-slider
{
    position: relative;

    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
       -moz-user-select: none;
        -ms-user-select: none;
            user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
        touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list
{
    position: relative;

    display: block;
    overflow: hidden;

    margin: 0;
    padding: 0;
}
.slick-list:focus
{
    outline: none;
}
.slick-list.dragging
{
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list
{
    -webkit-transform: translate3d(0, 0, 0);
       -moz-transform: translate3d(0, 0, 0);
        -ms-transform: translate3d(0, 0, 0);
         -o-transform: translate3d(0, 0, 0);
            transform: translate3d(0, 0, 0);
}

.slick-track
{
    position: relative;
    top: 0;
    left: 0;

    display: block;
    margin-left: auto;
    margin-right: auto;
}
.slick-track:before,
.slick-track:after
{
    display: table;

    content: '';
}
.slick-track:after
{
    clear: both;
}
.slick-loading .slick-track
{
    visibility: hidden;
}

.slick-slide
{
    display: none;
    float: left;

    height: 100%;
    min-height: 1px;
}
[dir='rtl'] .slick-slide
{
    float: right;
}
.slick-slide img
{
    display: block;
}
.slick-slide.slick-loading img
{
    display: none;
}
.slick-slide.dragging img
{
    pointer-events: none;
}
.slick-initialized .slick-slide
{
    display: block;
}
.slick-loading .slick-slide
{
    visibility: hidden;
}
.slick-vertical .slick-slide
{
    display: block;

    height: auto;

    border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
    display: none;
}
.flex-1 {
    flex:1;
}
.exsit-slick-slider[data-style="style4"] .slick-dots {   
    width: auto;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.03);
    display: flex;
    padding: 8px;
    right: auto;
    top: auto;
    gap:4px;
    left: 50%;
    position: absolute;
    bottom: 20px;
}
.exsit-slick-slider[data-style="style1"] .slick-dots {
    width: auto;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.03);
    display: flex;
    padding: 8px;
    right: 0rem;
    top: 0rem;
    gap:4px;
    left: auto;
    position: absolute;
        bottom: auto;
}
.exsit-slick-slider[data-style="style4"] .slick-dots li.slick-active {
    background: rgba(0, 0, 0, 0.3);
}
.exsit-slick-slider[data-style="style1"] .slick-dots li.slick-active {
    background: rgba(0, 0, 0, 0.9);
}


.exsit-slick-slider[data-style="style3"],
.exsit-slick-slider[data-style="style2"] {
    margin: 0 -10px;
}

.exsit-slick-slider[data-style="style3"] .slick-slide,
.exsit-slick-slider[data-style="style2"] .slick-slide {
    padding: 0 10px;
}

.exsit-slick-slider[data-style="style3"] .slick-dots,
.exsit-slick-slider[data-style="style2"] .slick-dots {
    left: 50%;
    padding: 0 1em;
    position: absolute;
    right: auto;
    top:auto;
    z-index: 1;
    bottom: -2rem;
    background: transparent;
    align-items: center;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-pack: center;
    justify-content: center;
    margin: 0;
    pointer-events: none;
    gap: 0;
}
.exsit-slick-slider[data-style="style3"] .slick-dots li,
.exsit-slick-slider[data-style="style2"] .slick-dots li {
    background: rgba(255, 255, 255, 0.3);
    margin: 0;
    width: 30px;
    height: 2px;
    border-radius: 0;
    opacity: 1;
}
.exsit-slick-slider[data-style="style3"] .slick-dots li.slick-active,
.exsit-slick-slider[data-style="style2"] .slick-dots li.slick-active {
    background: rgba(255, 255, 255, 1);
}

.exsit-slick-slider[data-style="style5"] .slick-arrow {
    top:auto;
    bottom:0;
    transform: none;
    right:30%;
    left:auto;
}
.exsit-slick-slider[data-style="style5"] .slick-arrow.slick-prev {
    transform: translateX(-45px);
}
@media screen and (max-width: 990px) {
    .exsit-slick-slider[data-style="style5"] .slick-arrow {
        right:0;
    }
}